  <nav class = "navbar navbar-style">
<div class ="container">
  <div class = "navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
    {% load static %}
    <img class = "logo"  src = "{% static "images/logo.png" %}" alt = "logo"/>
  </div>
  <div class="collapse navbar-collapse" id="micon">

  <ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="">Sign in</a></li>
    <li><a href="">Sign up</a></li>
  </ul>
</div>
</div>
</nav>
