
{% extends "base.html" %}
{% block title %}Welcome to Reuse-Me{% endblock %}
{% load staticfiles %}
<body>

  {% block mantap %}
<div>
    <div class = "boxed">
    <div class = "container">
      <h2> Category </h2>
    <div class = "row">
    <div class = "col-md-3">

    <div class = "category">
        {% load static %}
        <img class = "gambar" src = "{% static "images/galaxy.png" %}" class = "img-responsive">
        <div class ="overlay">
          <button type = "button" class="btn btn-secondary" title="Phone" align="right"> </button>
          </div>

          <div>

          <h3> Smartphone </h3>
          </div>
      </div>
      </div>

      <div class = "col-md-3">
      <div class = "category">
          {% load static %}
          <img class = "gambar" src = "{% static "images/baju.png" %}" class = "img-responsive">
          <div class ="overlay">
            <button type = "button" class="btn btn-secondary" title="clothes" align="right"> </button>
            </div>

              <div>
                <h3> Clothes </h3>
                </div>


        </div>
        </div>

        <div class = "col-md-3">
        <div class = "category">
            {% load static %}
            <img class = "gambar" src = "{% static "images/kacamata.png" %}" class = "img-responsive">
            <div class ="overlay">
              <button type = "button" class="btn btn-secondary" title="accesories" align="right"> </button>
              </div>

              <div>
                <h3> Accesories </h3>
                </div>



          </div>
          </div>

        <div class = "col-md-3">
        <div class = "category">
            {% load static %}
            <img class = "gambar" src = "{% static "images/basket.png" %}" class = "img-responsive">
            <div class ="overlay">
              <button type = "button" class="btn btn-secondary" title="hobby" align="right"> </button>
              </div>

              <div>

              <h3> Hobby </h3>
              </div>

          </div>
          </div>
          </div>


      </div>
      </div>
</div>

  {% endblock%}
</body>
