*{
  margin : 0;
  padding : 0;
}

.gambar
{
  height : 150px;
  padding : 2px 10px;
}
.container
{
  width : 100%;
  margin-top: : 10%;
  font-family: :sans-serif;
  letter-spacing : 1px;
}
.container h2
{
  background : #0062cc;
  color: #fff;
  width: 200px;
  font-size: 24px;
  padding: 5px;
  height: 40px;
}
.container h2::after
{
  content : '';
  border-top: 40px solid #0062cc;
  border-right: 40px solid transparent;
  position: relative;
  left: 91px;
  top: 36.5px;
}
.row
{
  margin-top: 30px;
}
.boxed
{
     box-shadow : 0 5px 10px #efefef;
}
div.category-name
{
  text-align: "center";
}
.logo
{
  height : 48px;
  padding : 2px 10px;
}
.header
{
  height : 100vh;

}
.navbar-style
{
  box-shadow : 0 5px 10px #efefef;
  text-transform : uppercase;
}
